.w-8per {
  width: 6%;
}
.w-92per {
  width: 94%;
}
.w-98per {
  width: 98%;
}
.h-8per {
  height: 6%;
}
.h-92per {
  height: 94%;
}

.nav-button {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #3b3a39;
}
.nav-button:hover {
  width: 5.04rem;
  height: 5.04rem;
  border-radius: 25px;
}
.button-container:hover .button-label {
  display: block;
}
.a1 {
  background-color: #1a1a1a;
}

.inset-50-per {
  top: 30%;
}
.cards:hover {
  background-color: #00573d;
  transform: translateY(-5%);
  animation: bounce 0.6s 3;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bg-abs {
  background-image: url("../assets/svg/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.no-scroll::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}

.no-scroll {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.bg-emerald-700{
  background-color: rgb(4 120 87);
}